* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

ul {
    list-style: none;
}

.timeline {
    margin-top: 10px;
}

.timeline-item {
    margin-bottom: 15px;
    cursor:pointer;
}
.left-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.left {
    margin: 0
}

.right {
    margin: 0
}

h1 {
    margin-top: 10px;
}

section {
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

h4 {
    text-align: right;
}
.details {
    display: none;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.details.active {
    display: block;
}
